<div class="resultats-container" (click)="onIsVisible()">
  <div class="resultat-container-h2">
    <h2>{{ pDate | frenchDate }}</h2>
  </div>
  <div>
    <app-result [hidden]="!isVisible"
                *ngFor="let infos of meteo"
                [date]="infos.dt_txt"
                [temperature]="infos.main.temp"
                [description]="infos.weather[0].description"
                [icon]="infos.weather[0].icon"
                [pressure]="infos.main.pressure"
                [humidity]="infos.main.humidity"
                [windSpeed]="infos.wind.speed"></app-result>
  </div>
</div>
