.resultats-container {
  border: solid 1px #6ec8c0;
  border-radius: 5px;
  width: 80%;
  margin: 0 auto 20px auto;
}

.resultat-container-h2 {
  background-color: #6ec8c0;
  height: 50px;
  display: flex;
  align-items: center;
  align-content: center;
  padding-left: 10px;
}

.resultats-container:hover {
  box-shadow: 0px 0px 50px rgba(128, 128, 128, 0.5);
}

.resultats-container h2 {
  font-family: 'Berkshire Swash', cursive;
}

.resultats-container:hover {
  cursor: pointer;
}

h2 {
  margin:0;
}
