<h1>Prévisions Météo Française</h1>
<form (ngSubmit)="onSubmit(f)" #f="ngForm">
  <div class="formulaire-container">
    <input name="search" type="text" autofocus
           ngModel placeholder="Entrez votre ville">
    <button type="submit">Rechercher</button>
  </div>
</form>

<app-resultats *ngFor="let dataU of data"
                [date]="dataU.date"
                [meteo]="dataU.weather"></app-resultats>

