h1 {
  font-family: 'Berkshire Swash', cursive;
  color: #6ec8c0;
  display: block;
  margin-bottom:15px;
  margin-top:15px;
  text-align: center;
}

.formulaire-container {
  text-align: center;
}

form {
  margin-bottom: 30px;
}

input {
  width: 45%;
  height: 30px;
  margin-right:15px;
  margin-left: 15px;
  padding: 3px 0;
  padding-left: 15px;
  border: solid 1px #6F6F6F;
  border-radius: 5px;
}

button {
  height: 38px;
  color: #6ec8c0;
  background-color: gainsboro;
  border: solid #6ec8c0 1px;
  border-radius: 5px;
}

button:hover {
  color: gainsboro;
  background-color: #6ec8c0;
  border: solid #6ec8c0 1px;
}
