<div class="result-container">

  <div class="result-heure">{{ date }}  h</div>

  <div class="result-container-div">

    <div class="result-container-temps">
      <img class="result-container-temps-img" src="http://openweathermap.org/img/w/{{icon}}.png">
      <div class="result-container-content">
        <div class="result-container-temps-div">{{description | titlecase }}</div>
        <div><strong>{{temperature}} °C</strong></div>
      </div>
    </div>

    <div class="result-container-infos">
<!--      <div>Températeur : <strong>{{temperature}} °C</strong></div>-->
      <div>Pression atmosphérique : <strong>{{pressure}} mbar</strong></div>
      <div>Humidité : <strong>{{humidity}} g/m3</strong></div>
      <div>Vitesse du vent : <strong>{{windSpeed}} noeuds</strong></div>
    </div>

  </div>

</div>
