.result-container {
  background-color: snow;
  width: 100%;
  border-top: solid 1px #6ec8c0;
}

.result-container:hover {
  background-color: #fffafab8;
}

.result-heure {
  font-weight:bold;
  font-size: 1.2rem;
  margin: 15px 0;
  margin-left: 20px;
  text-decoration : underline;
  text-decoration-color: #6ec8c0;
}

.result-container-div {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  justify-content: center;
  padding-bottom: 15px;
}
.result-container-temps {
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
}

.result-container-temps, .result-container-infos {
  width: 45%;
}

.result-container-temps-img:hover {
  transform: scale(1.3);
}

.result-container-content {
  padding-left: 10px;
}


